model/__pycache__/__init__.cpython-310.pyc
model/__pycache__/model_training.cpython-310.pyc
test/__pycache__/test_data_and_model.cpython-310-pytest-7.2.1.pyc
holdout.csv
train.csv
val.csv
data/raw_data.csv
metrics.json
model.pkl
metrics.json
prc.json
rocauc.json